@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/tickets/**/*.blade.php';

/* Personalización del botón de resetear filtros */

.fi-ta-filters-above-content-ctn {
    .fi-ta-filters-header button {
        background: none !important;
        border: 1px solid #d87fee !important;
        box-shadow: none !important;
        padding: 0.25rem !important;
        border-radius: 0.375rem !important;
        font-size: 0.75rem !important;
        color: transparent !important;
        position: relative !important;
        max-width: 95px !important;
        text-wrap: nowrap !important;
        text-overflow: ellipsis !important;
        transition: background 0.2s ease !important;
    }
    
    .fi-ta-filters-header button::after {
        display: flex !important;
        content: "Limpiar filtros" !important;
        color: #c026d3 !important;
        position: absolute !important;
        inset: 0 !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .fi-ta-filters-header button:hover {
        background: #f5ecf7 !important;
    }
}
